@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

body {
    -ms-overflow-style: none;
    font-family: 'Roboto Mono', sans-serif;
}
#particles-background canvas {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
}

@keyframes popUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.skill-pop {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.2s ease-out;
}

.skill-visible {
    animation: popUp 0.6s forwards;
}
.skill-visible:hover {
    scale:125%;
}
